<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [148]:
import pandas as pd
import psycopg2

## <font color=red> !!! Удалить перед ГИТом </font>

In [149]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python 
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [150]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [151]:
# текст запроса
query_3_1 = f'''
select 
	count(id)
from public.vacancies
'''

In [152]:
# результат запроса
query_3_1_df =  pd.read_sql_query(query_3_1, connection)
query_3_1_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\3501039736.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_3_1_df =  pd.read_sql_query(query_3_1, connection)

49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [153]:
# текст запроса
query_3_2 = f'''
select 
	count(id)
from public.employers
'''

In [154]:
# результат запроса
query_3_2_df = pd.read_sql_query(query_3_2, connection)
query_3_2_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\4062111085.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_3_2_df = pd.read_sql_query(query_3_2, connection)

23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [155]:
# текст запроса
query_3_3 = f'''
select 
	count(id)
from public.areas
'''

In [156]:
# результат запроса
query_3_3_df = pd.read_sql_query(query_3_3, connection)
query_3_3_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\2595684961.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_3_3_df = pd.read_sql_query(query_3_3, connection)

1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [157]:
# текст запроса
query_3_4 = f'''
select 
	count(distinct industry_id)
from public.employers_industries
'''

In [158]:
# результат запроса
query_3_4_df = pd.read_sql_query(query_3_4, connection)
query_3_4_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\3243895746.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_3_4_df = pd.read_sql_query(query_3_4, connection)

294

***

In [159]:
# выводы по предварительному анализу данных

## <font color=green> Выводы </font>

<em><font color=Red>

1) В базе данных содержится достаточное количество записей, чтобы применять методы статистического анализа, очистки данных. 
<em><font color=Red>

2) Количество регионов предполагает наличие вакансий не только в России, а и за ее пределами, а также возможно иное деление на регионы, чем принято согласно кодам субъектов Российской Федерации.  </font></em>

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [160]:
# текст запроса
query_4_1 = f'''
select 
	a.name region,
	count(v.id) vacancies_per_region
from public.vacancies v
join public.areas a on a.id=v.area_id
group by region
order by vacancies_per_region desc
'''

In [161]:
# результат запроса
query_4_1_df = pd.read_sql_query(query_4_1, connection)
query_4_1_df

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\1995924634.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_4_1_df = pd.read_sql_query(query_4_1, connection)

              region  vacancies_per_region
0             Москва                  5333
1    Санкт-Петербург                  2851
2              Минск                  2112
3        Новосибирск                  2006
4             Алматы                  1892
..               ...                   ...
764       Тарко-Сале                     1
765    Новоаннинский                     1
766            Бирск                     1
767           Сасово                     1
768             Анна                     1

[769 rows x 2 columns]

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [162]:
# текст запроса
query_4_2 = f'''
select 
	count (id)	
from public.vacancies
where salary_from is not null or salary_to is not null
'''

In [163]:
# результат запроса
query_4_2_df = pd.read_sql_query(query_4_2, connection)
query_4_2_df.iloc[0]['count'] #выводим значение первой строки столбца count

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\2221693919.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_4_2_df = pd.read_sql_query(query_4_2, connection)

24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [164]:
# текст запроса
query_4_3 = f'''
select 
	round(avg (salary_from)) salary_from,
	round(avg (salary_to)) salary_to
from public.vacancies
'''

In [165]:
# результат запроса
query_4_3_df = pd.read_sql_query(query_4_3, connection)
query_4_3_df

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\1012723967.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_4_3_df = pd.read_sql_query(query_4_3, connection)

   salary_from  salary_to
0      71065.0   110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [166]:
# текст запроса
query_4_4 = f'''
select 
	schedule,
	employment,
	count(id)
from public.vacancies
group by schedule, employment
order by count desc
'''

In [167]:
# результат запроса
query_4_4_df = pd.read_sql_query(query_4_4, connection)
query_4_4_df

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\905071916.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_4_4_df = pd.read_sql_query(query_4_4, connection)

            schedule           employment  count
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [168]:
# текст запроса
query_4_5 = f'''
select 
	experience work_experience
from public.vacancies
group by work_experience
order by count(id) asc --считаем количество вакансий, сгруппированных по опыту
'''

In [169]:
# результат запроса
query_4_5_df = pd.read_sql_query(query_4_5, connection)
query_4_5_df

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\1363540182.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_4_5_df = pd.read_sql_query(query_4_5, connection)

      work_experience
0         Более 6 лет
1           Нет опыта
2       От 3 до 6 лет
3  От 1 года до 3 лет

***

In [170]:
# выводы по детальному анализу вакансий

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [171]:
# текст запроса
query_5_1 =  f'''
select *
from
(
     -- формируем селект с помощью функции row_number, которая нумерует строки, возвращаемые запросом и
	 -- позволит вывести только 1 и 5 строку запроса. 
select 
	row_number() over (order by count(v.id) desc) as row_number,
	e.name employer_name,
	count(v.id) number_of_vacancies
from public.vacancies v
join public.employers e on v.employer_id = e.id
group by employer_name
) as table_temp
where table_temp.row_number=1 or table_temp.row_number=5
'''

In [172]:
# результат запроса
query_5_1_df = pd.read_sql_query(query_5_1, connection)
# альтернативный способ вывода строки 1 и 5 - через функции Python (без применения row_number()), 
# но был использован row_number для 'тренировки'. Вариант вывода через Python: ' print(query_5_1_df.loc[[0,4]]) '
query_5_1_df

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\2023235298.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_5_1_df = pd.read_sql_query(query_5_1, connection)

   row_number  employer_name  number_of_vacancies
0           1         Яндекс                 1933
1           5  Газпром нефть                  331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [173]:
# текст запроса
query_5_1 = f'''
--так как регион вакансии прописан в самой вакансии и он может не совпадать с регионом работодателя,
--создаем временную таблицу, куда заносим количество работодателей по регионам 

with employers_count_table as 
(
select
    a.name region,
    count(e.id) employers_count
from public.areas a
left join public.employers e on a.id=e.area
group by a.name
order by employers_count desc
)

--создаем таблицу, где отдельно считаем количество вакансий по регионам, затем объединяем с первой таблицей employers_count_table
--в получившейся таблице имеем три столбца: регион, количество вакансий в нем и количество компаний в этом регионе

select  
    a.name,
    count(v.id) vacancies_count,
    e.employers_count
from public.areas a
left join public.vacancies v on a.id=v.area_id
left join employers_count_table e on a.name = e.name
group by a.name, e.employers_count
order by vacancies_count asc, e.employers_count desc
'''

In [174]:
# результат запроса
query_5_1_df = pd.read_sql_query(query_5_1, connection)
display(query_5_1_df)

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\2355108486.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_5_1_df = pd.read_sql_query(query_5_1, connection)

                    name  vacancies_count  employers_count
0                 Россия                0              410
1              Казахстан                0              207
2     Московская область                0               75
3     Краснодарский край                0               19
4               Беларусь                0               18
...                  ...              ...              ...
1357              Алматы             1892              721
1358         Новосибирск             2006              573
1359               Минск             2112             1115
1360     Санкт-Петербург             2851             2217
1361              Москва             5333             5864

[1362 rows x 3 columns]

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [175]:
# текст запроса
query_5_3 = f''' 
select 
--считаем количество регионов, используя уникальное значение area_id, так как вакансий у работодателя в регионе может быть много
     count(distinct area_id) "# of regions with vacancies" 
from public.vacancies
group by employer_id
order by count(distinct area_id) desc
'''

In [176]:
# результат запроса
query_5_3_df = pd.read_sql_query(query_5_3, connection)
query_5_3_df

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\4263504034.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_5_3_df = pd.read_sql_query(query_5_3, connection)

       # of regions with vacancies
0                              181
1                              152
2                              116
3                               88
4                               71
...                            ...
14901                            1
14902                            1
14903                            1
14904                            1
14905                            1

[14906 rows x 1 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [177]:
# текст запроса
query_5_4 = f''' 
select 
	e.name,
    count(distinct ei.industry_id)
from public.employers e
left join public.employers_industries ei on e.id=ei.employer_id
group by e.id
having count(distinct ei.industry_id) = 0  --фильтруем select по работодателям, у которых не указан industry_id
'''

In [178]:
# результат запроса
query_5_4_df = pd.read_sql_query(query_5_4, connection)
query_5_4_df.shape[0]

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\943619907.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_5_4_df = pd.read_sql_query(query_5_4, connection)

8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [179]:
# текст запроса
query_5_5 = f''' 
select 
	e.name,
    count(ei.industry_id)
from public.employers e
left join public.employers_industries ei on e.id=ei.employer_id
group by e.id
having count(ei.industry_id)=4
order by e.name asc
'''

In [180]:
# результат запроса
query_5_5_df = pd.read_sql_query(query_5_5, connection)
query_5_5_df.iloc[2]['name']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\1183978702.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_5_5_df = pd.read_sql_query(query_5_5, connection)

'2ГИС'

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [181]:
# текст запроса
query_5_6 = f'''
select 
	count(ei.industry_id)
from public.employers e
left join public.employers_industries ei on e.id=ei.employer_id
left join public.industries i on ei.industry_id=i.id
where i.name = 'Разработка программного обеспечения'
'''

In [182]:
# результат запроса
query_5_6_df = pd.read_sql_query(query_5_6, connection)
query_5_6_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\4182161257.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_5_6_df = pd.read_sql_query(query_5_6, connection)

3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [183]:
# код для получения списка городов-милионников
#импортируем библиотеки для получения доступа к веб-странице и ее парсингу
import requests
url = 'https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8'
from bs4 import BeautifulSoup
response = requests.get(url)  # Выполняем GET-запрос
page = BeautifulSoup(response.text, 'html.parser')
links = page.find_all('a') # Ищем все ссылки на странице и сохраняем в переменной links в виде списка
millionaires_list=[link.text for link in links[45:62]]
millionaires_list.remove('[a]') #удаляем элемент, который не является городом
print(millionaires_list)

['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Казань', 'Нижний Новгород', 'Челябинск', 'Красноярск', 'Самара', 'Уфа', 'Ростов-на-Дону', 'Омск', 'Краснодар', 'Воронеж', 'Пермь', 'Волгоград']

In [184]:
# текст запроса
query_5_7 = f''' 
select 
   a.name region_name,
   count(v.id) vacancies_count
from public.areas a
join public.vacancies v on a.id=v.area_id
join public.employers e on e.id=v.employer_id
where  e.name='Яндекс' 
      --обращаемся к списку millionaires_list и берем только вакансии из городов этого списка
      and a.name like any (array{millionaires_list}) 
group by a.name
order by vacancies_count
'''

In [185]:
# результат запроса
query_5_7_df = pd.read_sql_query(query_5_7, connection)
#считаем 'Total' с помощью Python, а не методов SQL, так как этот прием более простой и лаконичный
query_5_7_df.loc[len(query_5_7_df.index)] = ['Total', sum(query_5_7_df['vacancies_count'])]
query_5_7_df

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\2983185148.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_5_7_df = pd.read_sql_query(query_5_7, connection)

        region_name  vacancies_count
0              Омск               21
1         Челябинск               22
2        Красноярск               23
3         Волгоград               24
4             Пермь               25
5            Казань               25
6    Ростов-на-Дону               25
7               Уфа               26
8            Самара               26
9         Краснодар               30
10          Воронеж               32
11      Новосибирск               35
12  Нижний Новгород               36
13     Екатеринбург               39
14  Санкт-Петербург               42
15           Москва               54
16            Total              485

***

In [186]:
# выводы по анализу работодателей

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [187]:
# текст запроса
query_6_1 = f''' 
select 
    count(v.name)
from public.vacancies  v
-- приводим значение столбца к нижнему регистру и проверяем его на совпадение
where lower(v.name) like '%данн%' or  lower(v.name) like '%data%'
'''

In [188]:
# результат запроса
query_6_1_df = pd.read_sql_query(query_6_1, connection)
query_6_1_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\159262106.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_6_1_df = pd.read_sql_query(query_6_1, connection)

1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [189]:
# текст запроса
query_6_2 = f''' 
select 
	count(v.id)
from public.vacancies  v
-- применяем подход с "like any array", для более лаконичного написания запроса
-- для ML применяем дополнительную проверку для исключения записей с 'html' из выборки
where 
    (lower(v.name) like any (array['%data scientist%',
                        '%data science%','%исследователь данных%',
                        '%machine learning%','%машинн%обучен%'])
                        or v.name like '%ML%') 
	                    and lower(v.name) not like '%html%'
                        and (lower(v.name) like '%junior%' 
                            or v.experience like '%Нет опыта%' 
                            or v.employment like '%Стажировка%')
 '''

In [190]:
# результат запроса
query_6_2_df = pd.read_sql_query(query_6_2, connection)
query_6_2_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\3735421319.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_6_2_df = pd.read_sql_query(query_6_2, connection)

51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [191]:
# текст запроса
query_6_3 = f''' 
select 
    count (v.id)
from public.vacancies  v
where 
    (lower(v.name) like any (array['%data scientist%',
                            '%data science%','%исследователь данных%',
                            '%machine learning%','%машинн%обучен%'])
                            or v.name like '%ML%')
                            and lower(v.name) not like '%html%' 
                            and (lower(v.key_skills) like '%sql%' 
                                or lower(v.key_skills) like '%postgres%')
 '''

In [192]:
# результат запроса
query_6_3_df = pd.read_sql_query(query_6_3, connection)
query_6_3_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\1041203163.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_6_3_df = pd.read_sql_query(query_6_3, connection)

201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [193]:
# текст запроса
query_6_4 = f''' 
select 
    count (v.id)
from public.vacancies  v
where 
    (lower(v.name) like any (array['%data scientist%',
                            '%data science%','%исследователь данных%',
                            '%machine learning%','%машинн%обучен%'])
                            or v.name like '%ML%')
                            and lower(v.name) not like '%html%' 
                            and lower(v.key_skills) like '%python%'
 '''

In [194]:
# результат запроса
query_6_4_df = pd.read_sql_query(query_6_4, connection)
query_6_4_df.iloc[0]['count']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\2628694568.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_6_4_df = pd.read_sql_query(query_6_4, connection)

351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [195]:
# текст запроса
# 
query_6_5 = f'''
select 
    round(avg
            (char_length(v.key_skills) 
            - (char_length(replace(v.key_skills,CHR(9),''))-1)),2) 
                     --- отнимаем единицу из вычитаемого числа выше, чтобы учесть первый навык, для которого нет табуляции(CHR(9))
from public.vacancies  v
where
    (lower(v.name) like any (array['%data scientist%',
                            '%data science%','%исследователь данных%',
                            '%machine learning%','%машинн%обучен%'])
                            or v.name like '%ML%')
                            and lower(v.name) not like '%html%' 
'''

In [196]:
# результат запроса
query_6_5_df = pd.read_sql_query(query_6_5, connection)
query_6_5_df.iloc[0]['round']

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\2954453094.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_6_5_df = pd.read_sql_query(query_6_5, connection)

6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [197]:
# текст запроса
query_6_6 = f''' 
--применяем запрос с coalesce, который позволяет получить значение (salary_from или salary_to)
--в случае, если одна из этих колонок не заполнена
select 
	v.experience,
	round(avg((COALESCE(v.salary_from, v.salary_to)
			   + COALESCE(v.salary_to, v.salary_from))/2)) average_salary
from public.vacancies v
where    (lower(v.name) like any (array['%data scientist%',
                            '%data science%','%исследователь данных%',
                            '%machine learning%','%машинн%обучен%'])
                            or v.name like '%ML%')
                            and lower(v.name) not like '%html%' 
							and (salary_from is not null or salary_to is not null)
group by v.experience
'''

In [198]:
# результат запроса
query_6_6_df = pd.read_sql_query(query_6_6, connection)
query_6_6_df

C:\Users\maimo\AppData\Local\Temp\ipykernel_4504\4125270730.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_6_6_df = pd.read_sql_query(query_6_6, connection)

           experience  average_salary
0           Нет опыта         74643.0
1  От 1 года до 3 лет        139675.0
2       От 3 до 6 лет        243115.0

***

In [199]:
# выводы по предметному анализу

# Общий вывод по проекту

In [200]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования